<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated history -->
      <package
            uri="http://www.mdelab.de/migmm/history/1.0"
            class="de.mdelab.migmm.history.HistoryPackage"
            genModel="model/history.genmodel"/>
   </extension>

</plugin>
