<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated timing -->
      <package
            uri="http://www.mdelab.de/migmm/history/test/timing/1.0"
            class="de.mdelab.migmm.history.timing.TimingPackage"
            genModel="model/timing.genmodel"/>
   </extension>

</plugin>
